
@{
    ViewData["Title"] = "Drilling";
}

<main>

    <button onclick="topFunction()" id="myBtn" title="Top">&lt;</button>

    <section class="section">

        <img src="~/view/img/Section_wallpaper/services_background.png" alt="section background" class="section_background">

        <div class="mainContainer section_contentContainer">
            <p class="section_description">What can we do?</p>
            <h3 class="section_header">Qazma və partlayış</h3>
        </div>

    </section>

    <section class="service mainContainer">

        <ul class="service_list">
            <li class="service_type"><a href="#">Qazma və partlayış</a></li>
            <li class="service_type"><a href="./service_transport.html">Daşıma</a></li>
            <li class="service_type"><a href="./service_recultivation.html">Rekultivasiya</a></li>
            <li class="service_type"><a href="./service_geological.html">Geologiya işləri</a></li>
            <li class="service_type"><a href="./service_consulting.html">Məsləhət xidmətləri</a></li>
            <li class="service_type"><a href="./service_others.html">Digər</a></li>
        </ul>

        <div class="service_contentContainer">
            <img src="~/view/img/Services_wallpaper/service_drilling.png" alt="service_img" class="service_img">
            <p class="service_description">
                Sifarişçi şirkətlə birlikdə quyuların qazılması üçün topoqrafik ölçülərin aparılması,
                sifarişçi şirkət tərəfindən quyuların dərinliyi və diametri göstərilməklə bayraqlama və
                quyuların nömrələnməsi işlərinin həyata keçirilməsindən sonra xüsusi qazma
                avadanlıqları (Atlas Copco, Furukavva) ilə quyuların qazılması, qazılmış quyulardan
                laborator analiz üçün nümunələrin götürülməsi işlərini icra edirik
            </p>
            <p class="service_description">
                Laborator analizlərin nəticələrinə uyğun olaraq əvvəlcədən qazılmış müvafiq
                quyulara partlayıcı maddələrin doldurulması, ərazidən texnikaların və işçi qüvvəsinin
                təxliyyə edilməsi və təhlükəsiz əraziyə yerləşdirməsi, mühafizə və SƏTƏMM
                əməkdaşları tərəfindən ərazinin təkrar yoxlanması və təhlükəsizlik tədbirlərinin
                qörülməsi, sahədə partlayış işlərinin həyata keçirilməsi, təftiş edilməsi üçün əraziyə
                baxış keçirilməsi, labarator analizlərin nəticələrinə uyğun lentləmə işlərinin
                görülməsi, təxliyyə olunmuş texnikaların və işçi qüvvəsinin mədən ərazisinə
                qayıtması və daşıma işlərinə başlaması işlərini icra edirik
            </p>
        </div>

    </section>

</main>

