
@{
    ViewData["Title"] = "Media";
}

<main class="news">

    <button onclick="topFunction()" id="myBtn" title="Top">&lt;</button>

    <section class="mainContainer section_headerContainer">
        <p class="section_description">Some Tips For You !</p>
        <h3 class="section_header">Xəbərlər</h3>
    </section>

    <section class="mainContainer">

        <ul class="news_container">
            <li class="news_card">
                <img src="~/view/img/News/news_card/news_1.png" alt="news picture" class="news_photo">
                <div class="news_contentContainer">
                    <p class="news_date">8 Oktyabr, 2021</p>
                    <p class="news_header">Kiçik Qafqazın səmərəsi böyük qızıl yatağı: Daşkəsənin “Ağyoxuş”undan reportaj</p>
                    <p class="news_description">Daşkəsən rayonunda yerləşən “Ağyoxuş” Qızıl Mədəni - İnzibati Ərazisindən olan reportajı...</p>
                    <a href="./news_agyoxus.html" class="news_moreBtn">Daha çox</a>
                </div>
            </li>
            <li class="news_card">
                <img src="~/view/img/News/news_card/news_2.png" alt="news picture" class="news_photo">
                <div class="news_contentContainer">
                    <p class="news_date">11 Sentyabr, 2021</p>
                    <p class="news_header">“AzerGold” QSC-nin fəaliyyətini əks etdirən videoçarx</p>
                    <p class="news_description">“AzerGold” QSC-nin fəaliyyətini əks etdirən videoçarxı sizə təqdim edirik...</p>
                    <a href="./news_azergoldVideo.html" class="news_moreBtn">Daha çox</a>
                </div>
            </li>
        </ul>

    </section>

</main>

