
@{
    ViewData["Title"] = "Others";
}

<main>

    <button onclick="topFunction()" id="myBtn" title="Top">&lt;</button>

    <section class="section">

        <img src="~/view/img/Section_wallpaper/services_background.png" alt="section background" class="section_background">

        <div class="mainContainer section_contentContainer">
            <p class="section_description">What can we do?</p>
            <h3 class="section_header">Digər</h3>
        </div>

    </section>

    <section class="service mainContainer">

        <ul class="service_list">
            <li class="service_type"><a href="./service_drilling.html">Qazma və partlayış</a></li>
            <li class="service_type"><a href="./service_transport.html">Daşıma</a></li>
            <li class="service_type"><a href="./service_recultivation.html">Rekultivasiya</a></li>
            <li class="service_type"><a href="./service_geological.html">Geologiya işləri</a></li>
            <li class="service_type"><a href="./service_consulting.html">Məsləhət xidmətləri</a></li>
            <li class="service_type"><a href="#">Digər</a></li>
        </ul>

        <div class="service_contentContainer">
            <img src="~/view/img/Services_wallpaper/service_drilling.png" alt="service_img" class="service_img">
            <p class="service_description">
                Şirkətimiz tikinti sahəsində də fəaliyyət göstərir
            </p>
        </div>

    </section>

</main>

