
@{
    ViewData["Title"] = "Policy";
}

<main>

    <button onclick="topFunction()" id="myBtn" title="Top">&lt;</button>

    <section class="section">

        <img src="~/view/img/Section_wallpaper/wallpaper_stone.png" alt="section background" class="section_background">

        <div class="section_contentContainer mainContainer">
            <p class="section_description">Our strong policy</p>
            <h3 class="section_header">SİYASƏTİMİZ</h3>
        </div>

    </section>

    <section class="policy mainContainer">
        <h3 class="legislation_header">
            Məqsəd və
            <br>
            vəzİfələrİmİz
        </h3>
    </section>

    <section class="policy">
        <div class="policy_contentContainer">

            <div>
                <p class="policy_header">“AZERİ MİNİNG GROUP” MMC olaraq əsas hədəflərimiz həm yerli, həm də beynəlxalq səciyyə daşıyır.</p>
                <p class="policy_content">
                    Biz öz işimizin keyfiyyəti və innovativ ideyalarımızla Azərbaycanda dağ-mədən sənayesinə töhfə vermək və beynəlxalq standartları
                    özündə ehtiva edən yeni mədənçilik texnologiyalarını ölkəyə gətirmək məqsədini daşıyırıq.
                </p>
                <p class="policy_content">
                    Fəaliyyətimizin daima yeniliyə və müasir elmi-texnoloji inkişafa uyğun olması əsas prinsiplərimizdəndir. Bunun üçün daima həm ən keyfiyyətli avadanlıq və texnikalar, həmdə işinin peşəkarı olan texnika parkı mütəxəssisləri işlərimizə cəlb edilir.
                </p>
                <p class="policy_content">
                    İşğaldan azad olunmuş torpaqlarımızda infrastrukturun qurulması və yeni yataqların kəşf olunaraq istismar edilməsi ilə bağlı yeni hədəflərimiz öz nəticələrini verməkdədir.
                </p>
                <p class="policy_content">
                    Ölkə ərazisində həyata keçirilən fəaliyyət istiqamətlərimizdən başqa, MDB məkanında, daha sonra isə bu sferanı genişləndirərək dünya bazarında Azərbaycanı layiqincə təmsil edəcək dağ-mədən şirkəti olmaq üçün çalışırıq.
                </p>
            </div>

            <img src="~/view/img/Policy/policy_team.png" alt="policy">

        </div>
    </section>

    <section class="policy mainContainer">
        <h3 class="legislation_header">
            Əməyİn mühafİzəsİ
            <br>
            və ekologİya
        </h3>

        <div class="policy_contentContainer">

            <img src="~/view/img/Policy/policy_truck.png" alt="policy">

            <div>
                <p class="policy_header">
                    “AZERİ MİNİNG GROUP” MMC iş yerlərində aşağıda göstərilən prinsipləri həyata keçirməklə əməyin mühafizəsi və ətraf mühitin qorunması sahəsində siyasətini yürüdür:
                </p>
                <p class="policy_content">
                    Azərbaycan Respublikasının Əməyin mühafizəsi və təhlükəsizlik texnikası, ekologiya ilə bağlı qanunvericiliyində, proseslərin icrası üzrə Dövlət Qanun və Qaydalarında və ISO14001:2015, ISO45001:2018 Beynəlxalq Standartlarında qarşıya qoyulan bütün tələblərə sözsüz əməl etməyi;
                </p>
                <p class="policy_content">
                    Əməyin mühafizəsi və Ekologiya İdarəetmə Sistemlərinin inkişafına müsbət təsir edən bütün metodlardan istifadə etməklə müasir texnika və texnologiyaların ən son nailiyyətlərinin tətbiqinə nail olmağı;
                </p>
                <p class="policy_content">
                    İnsanların təhlükəsizliyinə, sağlamlığına, ətraf mühitə, avadanlığa və keyfiyyətə təsir göstərən bütün zərərli faktorların minimuma endirilməsinə, risk və imkanların idarəedilməsinə və təhlükəsiz iş mühitinin yaradılmasına nail olmağı;
                </p>
                <p class="policy_content">
                    İdarəetmə Sistemlərinin daimi inkişafını təmin etmək üçün işçi personalın davamlı olaraq maarifləndirilməsi, peşəkarlığının artırılması istiqamətində bütün vasitə və imkanlardan maksimum dərəcədə istifadə edilməsi, eləcə də işçilərlə məsləhətləşmələrin aparılması və onların iştirakının təmin edilməsi;
                </p>
                <p class="policy_content">
                    Şirkətimizin ən dəyərli varlığı olan işçilərimiz üçün təhlükəsiz və sağlam iş sahələri yaratmaq və daha da inkişaf etdirmək.
                </p>
            </div>

        </div>

    </section>

</main>
